.Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 5px #888888;

    &_Logo {
        margin: 0;
        margin-left: 20px;
        font-weight: 700;
    }

    &_Navigation {
        display: flex;
        margin-right: 10px;
    }
}

.IconImg {
    width: 30px;
    padding: 7px 20px;
    border-bottom: 2px solid white;

    &:hover, &--Active {
        border-bottom: 2px solid black;
    }
}