@import '../../../styles/abstracts.scss';

.Header {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 5px $color-border;
    height: 60px;

    @media screen and (max-width: 590px) {
        width: 102%;
    }

    &__Logo {
        margin: 0;
        margin-left: 20px;
        font-weight: 700;
        cursor: pointer;
    }

    &__Navigation {
        display: flex;
        margin-right: 10px;
        height: 60px;
    }
}

.IconImg {
    width: 30px;
    padding: 12px 20px;
    border-bottom: 2px solid $color-white;

    &:hover, &--Active {
        border-bottom: 2px solid $color-primary;
    }
}