@import '../../../styles/abstracts.scss';

.AuthPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../../assets/images/main-background.jpg');
    background-size: contain;
}

.Login {
}

.AuthContainer {
    background-color: #ffffff;
    min-width: 360px;
    padding: 10px;
    box-shadow: -1px 2px 55px $color-border;
    transition: all .2s;

    &_Logo {
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    &_Input {
        width: 80%;
        margin: 0 auto;
    }

    &_Button {
        width: fit-content;
        margin: 0 auto;
    }
}

.Input {
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 2.5%;
    border: 1px solid $color-primary;
    font-size: 1rem;
}

.Logo {
    margin: 0;
}

.Link {
    text-align: center;
    cursor: pointer;
}

