// filter toggle item
.ToggleItem {
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    height: 40px;
    align-items: center;

    & > .SiteLabel {
        margin: 0;
    }

    & > .SelectIcon {
        width: 25px;
        margin-right: 15px;
        opacity: 1;

        &--Hide {
            opacity: 0.3;
        }
    }
}

.FilterButton {
    margin-top: 20px;
    display: none;

    @media screen and (max-width: 590px) {
        display: block;
    }
}