@import '../../../styles/abstracts.scss';

.Button {
    font-family: 'Patrick';
    padding: 6px 12px;
    background: $color-primary;
    color: $color-white;
    font-size: 1rem;
    border: none;
    margin: 0 5px;
    border: 1px solid $color-primary;
    cursor: pointer;

    &:hover {
        color: $color-primary;
        background: $color-white;
    }

    &--Inactive {
        color: $color-primary;
        background: $color-white;

        &:hover {
            background: $color-primary;
            color: $color-white;
        }
    }
}